@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto";
}

body {
  margin: 0;
  min-width: 100%;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.polovica {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

#opis > h1::selection {
  color: gold;
}
.logo:active {
  transform: scale(0.9);
}

a#logo_tekst {
  display: flex;
  width: auto;
  justify-content: center;
  overflow: hidden;
}

#logo_tekst:hover {
  transform: scale(1.1);
}

#hamburger {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

/* js simulacija */

.nav_verzija {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: static;
  top: 0;
}

/* kraj js simulacije */

nav > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 3rem;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
}

.trenutni {
  background-color: rgb(47, 43, 43);
  color: white;
  border: 5px black solid;
}

section {
  min-height: 70dvh;
}

section#opis + section {
  background-color: black;
}

div ~ iframe {
  width: 50%;
  height: 500px;
}

footer {
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 5rem 0rem 1rem 0rem;
}

.licence {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p[class*="licence"] {
  font-size: 1.5rem;
  padding: 3rem;
}

/* js simulacija */

.img_slika {
  width: 50%;
}
.img_tekst {
  width: 60%;
}

/* kraj js simulacije */

@media only screen and (max-width: 768px) {
  .licence {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .licence > a {
    display: flex;
    justify-content: center;
  }

  .licence > a > img {
    width: 50%;
    margin-bottom: 1rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: static;
    top: 0;
  }

  .grid {
    grid-template-columns: 10% 90%;
    align-items: center;
  }

  #logo_slika > img {
    width: 150%;
  }

  #logo_tekst > img {
    width: 60%;
  }
}
