main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #b12b28;
  color: white;
  width: fit-content;
}

form {
  display: grid;
  width: 80%;
  grid-template-columns: auto;
  padding: 1rem 0 2rem 0;
}

.stavka_forme {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  accent-color: #b12b28;
}

.stavka_forme > label {
  width: 17%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.stavka_forme > label + * {
  width: 60%;
}

label {
  font-weight: bold;
  font-size: large;
}

.radio_grupa {
  display: flex;
  align-items: center;
}

.radio_grupa > p {
  margin-right: 2rem;
}

div.stavka_forme > input {
  height: 2rem;
  border: none;
  border-bottom: 3px #b12b28 solid;
  font-size: 1rem;
}

div.stavka_forme > input:focus {
  height: 2rem;
  outline: none;
}

.godine {
  display: flex;
  flex-direction: column;
}

#odabir {
  height: 10rem;
}

#godine {
  width: 100%;
}

#napomena:focus {
  resize: none;
  border: 2px solid #b12b28;
  outline: none;
  box-sizing: border-box;
}

.gumb {
  background-color: #b12b28;
  color: white;
  width: 40%;
  margin: 0.5rem;
}

#kocke {
  width: 1.5rem;
  margin: auto 0 auto 0;
}

.gumbi {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box !important;
}

.greska {
  display: flex;
  width: 20%;
  padding-left: 2rem;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  form {
    grid-template-columns: auto;
    width: 100%;
  }

  .stavka_forme {
    margin: 1rem 0 1rem;
    padding: 0 1rem 0 1rem;
    flex-direction: column;
  }

  .stavka_forme > label {
    width: 100%;
  }

  .stavka_forme > label + * {
    width: 100%;
  }

  .gumbi {
    align-items: center;
  }

  .gumb {
    width: 60%;
  }
}
